<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title></title>

        <link href="css/generated.css?ver=04779b8" rel="stylesheet">

    </head>
    <body>
        <h1>Let's start!</h1>

        <script src="js/script.js?ver=04779b8"></script>


    </body>
</html>
